doctype html
html
 head
  title= title
  link(rel='stylesheet', href='/css/css.css')
 body
  h1 Performance Awards Nomination
  div
   a( href='/') 
    img( src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAACnklEQVRoQ+3azVHjMBgG4FcT+750ECrY3QogB3xdOoB0kNzJTGbMHTogtBEOyVbAUgF0APfYox2ZiHEUyfqzZQ1jX/0jPfo+yZJsgm92kG/mwQCKPaKdR2izxI9dgSvWEGmCx8kSHyaN8nSDcwrcEYJf7HpK8Y8A84tbbJvu7xS0x2zqlUoTTExQ6wVeCTCuV54Cb1mO015AIoZXgrW0CeppASqr+EXe3O87iZAKY4OKBqTDmKKiACnTDHhhEAL8POgTDenXO6gJk45wziC7EltTVK8gHYaPatV1hqjeQKYYnmqmqF5Appj1AtcAzrIcUwYzQQUH2WAI8FC97YGVKaoo8R7sPeSC+RquDVF8diGiWn+x+mBsUKrpTaugNjC+qNZAbWJ8UK2AusC4orxBXWJcUF6gEBhbVDLCSdN6Srl8CImxQenWU1JQH5i2UEegPjFtoA5AMWB8UV+gmDA+qAoUI8YVVYHWN3gWJ4MUeGErTT5EsiUAnzU3bSN1cc50lp7d4jeRVTQmjE2kAMyPQDFiLFBznnIrQnBFKR7TBLMY0kyVumL6FSVWAP5Q4G86wqVypuDaZ/YPvp4s8dbUnzZLjHclVgQ4s+13dZR4rxTkimEPT0Y41WFqGybjosSrLUhcztfvPwL5YNiDdbNhsfKqzRATpCxSRyCfAkKDZOUNIF0qhEy5IUK6aMjODxFSfKkzbUyxAYdBQddyQ8oNKXeYI0Mf0vUZ8bxuI7B+PZtxu05O+XO0EVovql9QDr5WW6EotkmCqW7GXWEKPIB8flB2OdhiNMs/f53hh2zYngG4cykg9D0UmGZ5tcBTg9gZ7ygFkMmiw4pVbwVLPr8HqKdREeK+hzZC/IL91+uZV58yqqLZRQwC4F5Ms/rd/wGdWpDyJU53oQAAAABJRU5ErkJggg==", width="52", height="52")
  block content